* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans Condensed', arial, sans, sans-serif;
}

main {
   min-height: 100vh;
   background: rgba(63, 123, 191, 0.2);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#errmsg {
   display: none;
   color: red;
}

.container {
   display: flex;
   flex-direction: row;
   width: 70%;
   height: 80vh;
}

.left {
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 5px;
   color: white;
   background: #235a80;
}

.right {
   width: 70%;
   padding: 5px;
   background: white;
   display: flex;
   justify-content: center;
}

input[type="text"],
textarea {
   display: block;
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
   font-size: large;
   border: 1px solid #235a80;
   box-shadow: 1px 1px 1px #235a80;
}

form {
   width: 70%;
}

.radio-row {
   margin-top: 2em;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

button {
   background: #235a80;
   color: white;
   width: 7em;
   height: 30px;
   font-size: 20px;
   margin-top: 2em;
}

.btn-right {
   display: flex;
   justify-content: right;
}

.btn-radio {
   cursor: pointer;
   display: inline-block;
   float: left;
   -webkit-user-select: none;
   user-select: none;
}
.btn-radio:not(:first-child) {
   margin-left: 20px;
}
@media screen and (max-width: 480px) {
   .btn-radio {
      display: block;
      float: none;
   }
   .btn-radio:not(:first-child) {
      margin-left: 0;
      margin-top: 15px;
   }
}
.btn-radio svg {
   fill: none;
   vertical-align: middle;
}
.btn-radio svg circle {
   stroke-width: 2;
   stroke: #C8CCD4;
}
.btn-radio svg path {
   stroke: #008FFF;
}
.btn-radio svg path.inner {
   stroke-width: 6;
   stroke-dasharray: 19;
   stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
   stroke-width: 2;
   stroke-dasharray: 57;
   stroke-dashoffset: 57;
}
.btn-radio input {
   display: none;
}
.btn-radio input:checked + svg path {
   transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
   stroke-dashoffset: 38;
   transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
   stroke-dashoffset: 0;
}
.btn-radio span {
   display: inline-block;
   vertical-align: middle;
}
