name: Build and deploy main

on:
   pull_request:
      types: [opened, reopened, edited]

jobs:
   build:
      name: Build all the things
      runs-on: ubuntu-20.04
      steps:
         - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # ratchet:actions/checkout@v3
         - uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # ratchet:actions/setup-java@v3
           with:
              java-version: "17"
              distribution: "temurin"
              cache: "gradle"
         - uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6 # ratchet:gradle/wrapper-validation-action@v1
         - name: Build and test the app
           run: ./gradlew test shadowJar

